[Unit]
Description=No Cry Blackjack Server
After=network.target

[Service]
Type=simple
WorkingDirectory=.../no-cry-blackjack/
ExecStart=/usr/bin/node server.js
User=...
Group=...
RemainAfterExit=no
Restart=on-failure

[Install]
WantedBy=multi-user.target