[Unit]
Description=No Cry Blackjack Comm Server
After=network.target

[Service]
Type=simple
WorkingDirectory=.../no-cry-blackjack/
ExecStart=/usr/bin/node server-comm.js
User=...
Group=...
RemainAfterExit=no
Restart=on-failure

[Install]
WantedBy=multi-user.target